# Lab 4: Pattern-Based Questions and String Operations

## Pattern-Based Questions

### Simple Number Triangle Pattern

In [1]:

rows = 5
for i in range(1, rows + 1):
    print((str(i) + " ") * i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### Inverted Pyramid of Numbers

In [2]:

rows = 5
for i in range(1, rows + 1):
    print(" " * (i - 1) + (str(i) + " ") * (rows + 1 - i))

1 1 1 1 1
 2 2 2 2
  3 3 3
   4 4
    5

### Half Pyramid Pattern of Numbers

In [3]:

rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) * 2 + " ".join(str(x) for x in range(1, i + 1)))

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

### Inverted Pyramid of Descending Numbers

In [4]:

rows = 5
for i in range(rows, 0, -1):
    print(" " * (rows - i) * 2 + (str(i) + " ") * i)

5 5 5 5 5
  4 4 4 4
    3 3 3
      2 2
        1

### Inverted Pyramid of the Same Digit

In [5]:

rows = 5
for i in range(rows, 0, -1):
    print(" " * (rows - i) * 2 + (str(rows) + " ") * i)

5 5 5 5 5
  5 5 5 5
    5 5 5
      5 5
        5

### Reverse Pyramid of Numbers

In [6]:

rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + " ".join(str(x) for x in range(i, 0, -1)))

    1
   2 1
  3 2 1
 4 3 2 1
5 4 3 2 1

### Inverted Half Pyramid Number Pattern

In [7]:

rows = 6
for i in range(rows, 0, -1):
    print(" ".join(str(x) for x in range(i)))

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

### Pyramid of Natural Numbers Less Than 10

In [8]:

n = 1
for i in range(1, 4):
    print(" ".join(str(n + j) for j in range(i * 2 - 1)))
    n += i * 2 - 1

1
2 3 4
5 6 7 8 9

### Reverse Pattern of Digits from 10

In [9]:

num = 1
for i in range(1, 5):
    row = []
    for j in range(i):
        row.append(num)
        num += 1
    print(" ".join(map(str, row[::-1])))

1
3 2
6 5 4
10 9 8 7

### Unique Pyramid Pattern of Digits

In [10]:

rows = 5
for i in range(1, rows + 1):
    left = " ".join(str(x) for x in range(1, i + 1))
    right = " ".join(str(x) for x in range(i - 1, 0, -1))
    print(left + " " + right)

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

### Connected Inverted Pyramid Pattern of Numbers

In [11]:

rows = 5
for i in range(rows, 0, -1):
    left = " ".join(str(x) for x in range(rows, i - 1, -1))
    right = " ".join(str(x) for x in range(i, rows + 1))
    print(left + " " + right)

5 5
5 4 4 5
5 4 3 3 4 5
5 4 3 2 2 3 4 5
5 4 3 2 1 1 2 3 4 5

### Even Number Pyramid Pattern

In [24]:

rows = 5
for i in range(1, rows + 1):
    print(" ".join(str(x) for x in range(10, 10 - i * 2, -2)))

10
10 8
10 8 6
10 8 6 4
10 8 6 4 2

### Pyramid of Horizontal Tables

In [23]:

rows = 7
for i in range(rows):
    print(" ".join(str(i * j) for j in range(i + 1)))

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25
0 6 12 18 24 30 36

### Pyramid Pattern of Alternate Numbers

In [22]:

rows = 5
for i in range(1, rows + 1):
    print((str(i * 2 - 1) + " ") * i)

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

### Mirrored Pyramid (Right-angled Triangle) Pattern of Numbers

In [21]:

rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) * 2 + " ".join(str(x) for x in range(1, i + 1)))

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

### Equilateral Triangle with Stars

In [20]:

rows = 7
for i in range(1, rows + 1):
    print(" " * (rows - i) + "* " * i)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

### Downward Triangle Pattern of Stars

In [19]:

rows = 6
for i in range(rows, 0, -1):
    print(" " * (rows - i) + "* " * i)

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

### Pyramid Pattern of Stars

In [18]:

rows = 5
for i in range(1, rows + 1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

## String-Based Questions

### Separate String into Comma-Separated Values

In [17]:

X = "India.is.my.country"
print(",".join(X.split(".")))

India,is,my,country

### Remove a Given Character from a String

In [16]:

Y = "M.A.N.I.P.A.L"
print(Y.replace(".", ""))

MANIPAL

### Sort Strings Alphabetically

In [13]:

strings = ["banana", "apple", "cherry", "date"]
strings.sort()
print(strings)

['apple', 'banana', 'cherry', 'date']

### Reverse a User-Input String

In [ ]:

user_input = input("Enter a string: ")
print(user_input[::-1])

### Check if a String Contains Only Digits

In [14]:

string = "12345"
print(string.isdigit())

True

### Find the Number of Vowels in a String

In [15]:

vowels = "aeiouAEIOU"
string = "OpenAI creates great models."
count = sum(1 for char in string if char in vowels)
print("Number of vowels:", count)

Number of vowels: 11